.logoDiv {
  display: flex;
  justify-content: center;
}
.searchBarContainer {
  background-color: rgb(240, 240, 240);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 2px;
}
.searchTitleDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}
.searchInputDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}
#searchId {
  width: 300px;
}
.searchBtnDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}
.searchBtn {
  margin-right: 5px;
}
.boxContainer {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
}
a {
  color: rgb(0, 0, 216);
}
.firstBoxContainer {
  background-color: #7ee5da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 75px;
  margin-right: 2px;
}
.secondBoxContainer {
  background-color: #70ccc2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  margin-right: 2px;
  font-size: 12.5px;
}
.thirdBoxContainer {
  background-color: #62b3aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 75px;
}
.thirdBoxContainer span {
  font-size: 12.5px;
}
.subscribeBtn {
  margin-right: 7px;
}
.copyDiv {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.copyTxt {
  font-size: 13px;
}
